html, body {
    margin: 0;
    padding: 0;
    background-color: #212121;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(61, 61, 61, 1);
}
